name: Combined-Service

on:
  push:
    branches:
    - main
    paths:
    - '**'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Docker Login
      env:
        DOCKER_USER: ${{secrets.DOCKER_USER}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      run: docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
    
    - name: Build amd64
      run: docker build . --file Services/Combined/Dockerfile-amd64 --tag opennetwork/it-webservices:linux-amd64
    
    - name: Push amd64
      run: docker push opennetwork/it-webservices:linux-amd64
    
    - name: Build arm64
      run: docker build . --file Services/Combined/Dockerfile-arm64 --tag opennetwork/it-webservices:linux-arm64
    
    - name: Push arm64
      run: docker push opennetwork/it-webservices:linux-arm64
    
    - name: Build arm32
      run: docker build . --file Services/Combined/Dockerfile-arm32 --tag opennetwork/it-webservices:linux-arm32
    
    - name: Push arm32
      run: docker push opennetwork/it-webservices:linux-arm32
